// .lgMainDiv {
//   margin-top: 100px !important;
//   height: auto !important;
//   text-align: center!important;
// }


.smMainDiv {
  margin-top: 100px !important;
  height: auto;
}


#okta-sign-in {
  
   margin-top: 10px;
}

.mainBanner{
  padding-left: 50px!important;
}