.popupMain {
    // border-width: dotted;
    width: 500px !important;
    text-align: center !important;
}

.popupBannerDiv {
    width: 100% !important;
    background-color: #00297a !important;
    padding: 15px !important;
    border-radius: 5px !important;
}



.divLeft {
    width: 40% !important;
    background-color: #00297a !important;
    color: #ffffff !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    // padding-top : 15px!important;
    // padding-bottom : 15px!important;
    text-align: left !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #00297a !important;
}

.formLabel {
    margin-left: 5px !important;
    word-break: break-all !important;
}

.divRight {
    width: 55% !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #00297a !important;

    text-align: left !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.requestParam {
    // border-style: solid!important;
    // border-width: 1px!important;
    // border-color: #00297a!important;
    margin-left: 10px !important;
    font-size: 12px !important;
}

.justDiv {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #00297a !important;
    background-color: #00297a !important;
    color: #ffffff !important;
    margin-top: 10px !important;
    width: 95% !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.justContent {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #00297a !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    width: 95% !important;
}

.approveBtn {
    margin-top: 20px !important;
    // padding:30px!important;
}


.SMpopupMain {
    width: 100% !important;
    color: black;
    // border-style: dotted;
}

.SMpopupBannerDiv {
    width: 100% !important;
    background-color: #00297a !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 5px !important;
}

.smScreenBanner {
    width: 260px !important;
}

.LabelDiv {
    // border-style: dotted;
    background-color: #00297a !important;
    color: #ffffff !important;
    width: 100% !important;
    text-align: center !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #00297a !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;

}

.ParamDiv {
    // border-style: dotted;
    width: 100% !important;
    color: #00297a !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #00297a !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    margin-bottom: 5px !important;

}

#menuBtn {
    .p-button {
        // border:#FFFFFF!important;
        border-width: 1px !important;
        background-color: #00297A !important;
        margin: 10px !important;
        // padding-bottom: none !important;
        // padding-right: none !important;
    }

}


.SMformLabel {
    width: 100% !important;
}