.navDiv{
  
}

#navButton {
  .p-button {
    margin-top: 10px!important;
    width: 300px !important;
    border: #FFFFFF !important;
    border-style: solid!important;
  }
}

#navReqButton{
  .p-button {
    margin-top: 10px!important;
    width: 300px !important;
    border: #FFFFFF !important;
    background-color: #8D6E97!important;
    border-style: solid!important;
  }
}

.btnImg {
  width: 70px !important;
}

.wfBannerDiv{
  width:100%!important;
  margin-top: 50px!important;
  text-align: center;
}

.wfBanner{
  width:300px!important;
}