.requestsDiv {
    margin-top: 40px !important;
    text-align: center !important;
    width: 90% !important;
  }
  
  .myReqDivHead {
    width: 400px !important;
    background-color: #00297a !important;
    padding: 10px !important;
    padding-top: 15px !important;
    text-align: center !important;
    border-radius: 5px !important;
    margin-top: 70px!important;
  }
  
  .myReqBannerImg {
    width: 200px !important;
  }
  
  .divSpacer {
    width: 100% !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  
  .myReqBtnDiv {
    width: 95% !important;
    margin-top: 20px !important;
    text-align: center!important;
  }
  
  #menuBtn {
    .p-button {
      border-width: 1px !important;
      background-color: #00297a !important;
      box-shadow: 0px 5px 12px 0px #6e6e78 !important;
    }
  }
  
  .ReqtableDiv{
    margin-top: 20px!important;
    width:100%!important;
  }
  
  .reqTableDiv{
      width:100%!important;
  }
  
  #requestTable {
    .mat-footer-row,
    .mat-header-row,
    .mat-row,
    .mat-cell {
      padding-left: 15px !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      height: auto !important;
    }
  }
  
  #requestTable {
    .mat-header-cell {
      padding-left: 5px !important;
      background-color: #00297a !important;
      color: #ffffff !important;
      height: auto !important;
      font-size: 14px !important;
    }
  }

  #getReqBtn{
    .p-button{
      border-style: solid!important;
      border-color: #ffffff!important;
    }
  }